In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,OrdinalEncoder
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
df=pd.read_csv(r"D:\Swiggy_Time_prediction\Data\outlier_removed.csv")

In [3]:
df.columns

Index(['Unnamed: 0', 'rider_id', 'age', 'ratings', 'restaurant_latitude',
       'restaurant_longitude', 'delivery_latitude', 'delivery_longitude',
       'order_date', 'weather', 'traffic', 'vehicle_condition',
       'type_of_order', 'type_of_vehicle', 'multiple_deliveries', 'festival',
       'city_type', 'time_taken', 'city_name', 'order_day', 'order_month',
       'order_day_of_week', 'is_weekend', 'pickup_time_minutes',
       'order_time_hour', 'order_time_of_day', 'distance'],
      dtype='str')

In [4]:
x2=df.select_dtypes(include=["object"]).drop(columns=['rider_id','order_date'])
x2.head()

C:\Users\User\AppData\Local\Temp\ipykernel_1236\478551668.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  x2=df.select_dtypes(include=["object"]).drop(columns=['rider_id','order_date'])

,weather,traffic,type_of_order,type_of_vehicle,festival,city_type,city_name,order_day_of_week,order_time_of_day
0,sunny,high,snack,motorcycle,no,urban,INDO,saturday,morning
1,stormy,jam,snack,scooter,no,metropolitian,BANG,friday,evening
2,sandstorms,low,drinks,motorcycle,no,urban,BANG,saturday,morning
3,sunny,medium,buffet,motorcycle,no,metropolitian,COIMB,tuesday,evening
4,cloudy,high,snack,scooter,no,metropolitian,CHEN,saturday,afternoon

In [5]:
x2["weather"].unique()

<StringArray>
['sunny', 'stormy', 'sandstorms', 'cloudy', 'fog', 'windy']
Length: 6, dtype: str

In [6]:
x2["traffic"].unique()

<StringArray>
['high', 'jam', 'low', 'medium']
Length: 4, dtype: str

In [7]:
x2["type_of_order"].unique()
['snack', 'drinks', 'buffet', 'meal']

['snack', 'drinks', 'buffet', 'meal']

In [8]:
x2["type_of_vehicle"].unique()
['motorcycle', 'scooter', 'electric_scooter', 'bicycle']

['motorcycle', 'scooter', 'electric_scooter', 'bicycle']

In [9]:
x2["festival"].unique()
['no', 'yes']

['no', 'yes']

In [10]:
x2["city_type"].unique()
['urban', 'metropolitian', 'semi-urban']

['urban', 'metropolitian', 'semi-urban']

In [11]:
print(f"{x2["order_day_of_week"].unique()}")
['saturday', 'friday', 'tuesday', 'monday', 'sunday', 'wednesday', 'thursday']

<StringArray>
['saturday', 'friday', 'tuesday', 'monday', 'sunday', 'wednesday', 'thursday']
Length: 7, dtype: str

['saturday', 'friday', 'tuesday', 'monday', 'sunday', 'wednesday', 'thursday']

In [12]:
x2["order_time_of_day"].unique()
['morning', 'evening', 'afternoon', 'night', 'after_midnight']

['morning', 'evening', 'afternoon', 'night', 'after_midnight']

In [13]:
df.select_dtypes(include=["object"]).columns

C:\Users\User\AppData\Local\Temp\ipykernel_1236\2790643224.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  df.select_dtypes(include=["object"]).columns

Index(['rider_id', 'order_date', 'weather', 'traffic', 'type_of_order',
       'type_of_vehicle', 'festival', 'city_type', 'city_name',
       'order_day_of_week', 'order_time_of_day'],
      dtype='str')

In [14]:
for i in df.select_dtypes(include=["object"]).drop(columns=['rider_id','order_date']):
    print(f" column name:{i}  {df[i].unique()}")

 column name:weather  <StringArray>
['sunny', 'stormy', 'sandstorms', 'cloudy', 'fog', 'windy']
Length: 6, dtype: str
 column name:traffic  <StringArray>
['high', 'jam', 'low', 'medium']
Length: 4, dtype: str
 column name:type_of_order  <StringArray>
['snack', 'drinks', 'buffet', 'meal']
Length: 4, dtype: str
 column name:type_of_vehicle  <StringArray>
['motorcycle', 'scooter', 'electric_scooter', 'bicycle']
Length: 4, dtype: str
 column name:festival  <StringArray>
['no', 'yes']
Length: 2, dtype: str
 column name:city_type  <StringArray>
['urban', 'metropolitian', 'semi-urban']
Length: 3, dtype: str
 column name:city_name  <StringArray>
[  'INDO',   'BANG',  'COIMB',   'CHEN',    'HYD', 'RANCHI',    'MYS',
    'DEH',    'KOC',   'PUNE',   'LUDH',    'KNP',    'MUM',    'KOL',
    'JAP',    'SUR',    'GOA',   'AURG',    'AGR',    'VAD',    'ALH',
    'BHP']
Length: 22, dtype: str
 column name:order_day_of_week  <StringArray>
['saturday', 'friday', 'tuesday', 'monday', 'sunday', 'wednesday', 'thursday']
Length: 7, dtype: str
 column name:order_time_of_day  <StringArray>
['morning', 'evening', 'afternoon', 'night', 'after_midnight']
Length: 5, dtype: str

C:\Users\User\AppData\Local\Temp\ipykernel_1236\1695471789.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  for i in df.select_dtypes(include=["object"]).drop(columns=['rider_id','order_date']):

# Encoding

In [15]:
def binary_encode(df, binary_map):
    """
    binary_map: {column_name: {old_value: new_value}}
    """
    df = df.copy()
    
    for col, mapping in binary_map.items():
        df[col] = df[col].map(mapping)
        
    return df

In [16]:
def ordinal_encode(df, ordinal_map):
    """
    ordinal_map: {column_name: [ordered_categories]}
    """
    df = df.copy()
    
    cols = list(ordinal_map.keys())
    categories = list(ordinal_map.values())
    
    encoder = OrdinalEncoder(categories=categories)
    df[cols] = encoder.fit_transform(df[cols])
    
    return df

In [17]:
def nominal_encode(df, nominal_cols, drop_first=True):
    """
    drop_first=True avoids dummy variable trap (recommended for linear models)
    """
    df = df.copy()
    
    df = pd.get_dummies(
        df,
        columns=nominal_cols,
        drop_first=drop_first
    )
    
    return df

In [18]:
df["city_type"].unique()

<StringArray>
['urban', 'metropolitian', 'semi-urban']
Length: 3, dtype: str

In [ ]:
# Binary
binary_map = {
    'festival': {'no': 0, 'yes': 1}
}

# Ordinal
ordinal_map = {
    'traffic': ['low', 'medium', 'high', 'jam'],
    'order_day_of_week': [
        'monday', 'tuesday', 'wednesday',
        'thursday', 'friday', 'saturday', 'sunday'
    ],
    'order_time_of_day': [
        'after_midnight', 'morning',
        'afternoon', 'evening', 'night'
    ],
     'city_type':['semi-urban','urban','metropolitian']
}

# Nominal
nominal_cols = [
    'weather',
    'type_of_order',
    'type_of_vehicle',
    'festival'
]

In [20]:
df_encoded = df.copy()

df_encoded = binary_encode(df_encoded, binary_map)
df_encoded = ordinal_encode(df_encoded, ordinal_map)
df_encoded = nominal_encode(df_encoded, nominal_cols, drop_first=True)

In [21]:
df_encoded.head()

,Unnamed: 0,rider_id,age,ratings,restaurant_latitude,restaurant_longitude,delivery_latitude,delivery_longitude,order_date,traffic,...,weather_sandstorms,weather_stormy,weather_sunny,weather_windy,type_of_order_drinks,type_of_order_meal,type_of_order_snack,type_of_vehicle_electric_scooter,type_of_vehicle_motorcycle,type_of_vehicle_scooter
0,0,INDORES13DEL02,37.0,0.741937,22.745049,4.342408,22.765049,4.342668,2022-03-19,2.0,...,False,False,True,False,False,False,True,False,True,False
1,1,BANGRES18DEL02,34.0,0.916291,12.913041,4.365430,13.043041,4.367081,2022-03-25,3.0,...,False,True,False,False,False,False,True,False,False,True
2,2,BANGRES19DEL01,23.0,0.955511,12.914264,4.365369,12.924264,4.365496,2022-03-19,0.0,...,True,False,False,False,True,False,False,False,True,False
3,3,COIMBRES13DEL02,38.0,0.832909,11.003669,4.356407,11.053669,4.357048,2022-04-05,1.0,...,False,False,True,False,False,False,False,False,True,False
4,4,CHENRES12DEL01,32.0,0.875469,12.972793,4.397531,13.012793,4.398023,2022-03-26,2.0,...,False,False,False,False,False,False,True,False,False,True

In [22]:
df_encoded.drop(columns=['Unnamed: 0','rider_id','order_date'],inplace=True)

In [23]:
df_encoded.columns

Index(['age', 'ratings', 'restaurant_latitude', 'restaurant_longitude',
       'delivery_latitude', 'delivery_longitude', 'traffic',
       'vehicle_condition', 'multiple_deliveries', 'festival', 'city_type',
       'time_taken', 'city_name', 'order_day', 'order_month',
       'order_day_of_week', 'is_weekend', 'pickup_time_minutes',
       'order_time_hour', 'order_time_of_day', 'distance', 'weather_fog',
       'weather_sandstorms', 'weather_stormy', 'weather_sunny',
       'weather_windy', 'type_of_order_drinks', 'type_of_order_meal',
       'type_of_order_snack', 'type_of_vehicle_electric_scooter',
       'type_of_vehicle_motorcycle', 'type_of_vehicle_scooter'],
      dtype='str')

In [24]:
df_encoded.to_csv(r"D:\Swiggy_Time_prediction\Data\encoded.csv")